.form_radio {
    padding: 10px 20px;
    border: 1px solid #999;
	border-radius: 4px;
}
.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	
	margin-right: 0;
	line-height: 18px;

    padding: 0px 15px;
	line-height: 34px;
    padding-left: 30px;
	
	user-select: none;
}
.form_radio label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 5px;
	bottom: 7px;
	background: url(../../assets/icons/form-check-input.svg) 0 0 no-repeat;
}
 
/* Checked */
.form_radio input[type=radio]:checked  {
	background: #ffe0a6;
}
.form_radio input[type=radio]:checked + label:before {
	background: url(../../assets/icons/form-check-input-active.svg) 0 0 no-repeat;
    
}
 
/* Hover */
.form_radio label:hover:before {
	filter: brightness(120%);
}
 
/* Disabled */
.form_radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}