@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.content {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
// Scrollbar:
::-webkit-scrollbar {
  width: 6px !important;
  border-radius: 24px !important;
}
::-webkit-scrollbar-thumb {
  background: #777 !important;
}
::-webkit-scrollbar-track {
  background: #bdbdbd !important;
}
.scrollable::-webkit-scrollbar {
  height: 4px;
  width: 3px !important;
  border-radius: 24px !important;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #777 !important;
}

.scrollable::-webkit-scrollbar-track {
  background-color: #bdbdbd !important;
}
